@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap; background-color:mediumaquamarine;">
        <span class="w3-center w3-padding-large w3-black w3-large w3-wide w3w3-animate-opacity">Explore the Wonderful World</span>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT US</h3>
    <p class="w3-center"><em></em></p>
    <p>A travel agency is a private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities</p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Team  MyTravel</b></p><br>
            <img src="~/Content/photos/LOGO.png" class="w3-round w3-image w3-hover-opacity-off" alt="Logo" width="400" height="350">
        </div>
        <p style="font: size 16px;">
            Είμαστε μια ομάδα φοιτητών που θέλουμε να συμβάλλουμε στην διασκέδαση, στην εύκολη επικοινωνία με τους ταξιδιωτικούς οργανισμούς και στην ασφαλή ταξιδιωτική εμπειρία που θα σας ευχαριστήσει και θα την θυμάστε για πάντα!!!
        </p>
        <p>Τα ταξίδια αποτελούν επένδυση στην εμπειρία, μια εμπειρία που μπορείτε να ζήσετε μία φορά στη ζωή σας, αφού όσα ταξίδια κι αν πάτε κανένα δεν πρόκειται να μοιάζει με το προηγούμενο ή το επόμενο. Ως ενήλικες, είναι πάντα δύσκολο να ξεκλέψουμε χρόνο, χρήματα και διάθεση, για να κάνουμε τέτοια διαλείμματα. Μπορεί, μάλιστα, να σκεφτούμε οτι δεν αξίζει να ξοδέψουμε χρήματα σε ένα ταξίδι, αφού δεν πρόκειται να μας αποφέρει υλικά αγαθά και πολυτέλειες, παρά μόνο κούραση στο τέλος.</p>
        <hr />
        <div class="row">
            <div class="col-sm-10" style="left:60px">
                <blockquote>
                    <p style="text-align: center;"><i>Ο κόσμος είναι ένα βιβλίο και όσοι δεν ταξιδεύουν, διαβάζουν μόνο μία σελίδα</i></p>
                    <footer>Αυγουστίνος Ιππώνος</footer>
                </blockquote>
            </div>
        </div>
        <hr />
        <p>
            Όταν γεννιόμαστε, βρισκόμαστε στην πρώτη σελίδα και ύστερα, έχουμε τη δυνατότητα να κινηθούμε προς την επόμενη. Με τόσο εξελιγμένα μέσα μεταφοράς πια, δεν ειναι δύσκολο να αφήσουμε για λίγο πίσω μας τη γενέτειρά μας, ώστε να εξερευνήσουμε ένα νέο μέρος, μια νέα σελίδα που είναι εκεί και μάς περιμένει. Η μεταπήδηση σε μια νεά σελίδα αποτελεί τη συνέχιση του ταξιδιού σας και της διαδικασίας μάθησής σας.

            <strong>Χωρίς τα ταξίδια, δεν θα εκτιμήσετε ποτέ πλήρως τον τόπο σας.</strong>

            Αν δεν έχετε ταξιδέψει ακόμα, αυτό μπορεί να σας φανεί λίγο περίεργο, ίσως οξύμωρο. Γιατί το να απομακρυνθούμε απο τον τόπο μας, μάς κάνει να τον εκτιμάμε περισσότερο. Η καθημερινότητα και η συνήθεια μάς κουράζουν σε έναν και μόνο τόπο, που γνωρίζουμε απο παλιά και θεωρούμε οτι οπουδήποτε αλλού, τα πράγματα είναι σίγουρα καλύτερα.
            Κι όμως, όσα μέρη κι αν επισκεφθείτε, όσους ανθρώπους κι αν γνωρίσετε, όσο οικεία και να νιώσετε αλλού, πάντα θα αναγνωρίζετε με νοσταλγία την αγάπη για τον δικό σας τόπο. Μπορεί να φαίνεται περίεργο, αλλά όσο μακρύτερα ταξιδέψετε, τόσο καλύτερα θα καταλάβετε τι συμβαίνει δίπλα σας.
        </p>
        <p> Tα ταξίδια διευρύνουν τόσο τους ορίζοντές μας.Το να συναντάτε νέους πολιτισμούς, κουλτούρες, παράξενα ήθη και έθιμα διευρύνει τόσο πολύ τους ορίζοντές σας που επιστρέφοντας νιώθετε ότι έχετε διαβάσει όλα τα βιβλία του κόσμου. Τα ταξίδια μας παρουσιάζουν διαφορετικές πραγματικότητες, εμπλουτίζοντας τη δική μας και δείχνοντάς μας οτι αυτή δεν ειναι απαραιτήτως και η καλύτερη ή η σωστότερη.Σκεφτείτε λίγο, χωρίς έννοιες, ανησυχίες, άγχος, βιασύνη έστω για περιορισμένο χρονικό διάστημα. </p>
        <hr />
        <p>The world is filled with such a wide variety of wonderful destinations and beautiful places to visit, it can be quite difficult to compile a list of the best ones. Thinking about a traveler who, for whatever reason, has never set foot outside his or her home town, where would be the first places they might visit? We are here to help you.</p>

    </div>
    <p class="w3-large w3-center w3-padding-16">What we achieved this year:</p>
    <p class="w3-wide"><i class="fa fa-laptop"></i>Had more people joining our company</p>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" style="width: 28%"></div>
    </div>
    <p class="w3-wide"><i class="fa fa-camera"></i>Increased our customers' will to travel</p>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 57%"></div>
    </div>
    <p class="w3-wide"><i class="fa fa-camera"></i>Extended our services to new areas</p>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" style="width: 73%"></div>
    </div>
    <p class="w3-wide"><i class="fa fa-photo"></i>Having a passion for good & safe travel</p>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
    </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <!-- Header -->
    <div class="header" id="myHeader">
        <h3 class="w3-center">OUR WORK</h3>
        <p class="w3-center"><em>Photos from our Events and Friends</em></p><br>
        <p>Click on the buttons to change the grid view.</p>
        <button class="btn btn-primary" onclick="one()">1</button>
        <button class="btn active btn-primary" onclick="two()">2</button>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Content/photos/Cappadocia.jpg" style="width:100%" hidden>
            <img src="~/Content/photos/friends.jpg" style="width:100%">
            <img src="~/Content/photos/sailing.jpg" style="width:100%">
            <img src="~/Content/photos/lake.jpg" style="width:100%">
            <img src="~/Content/photos/peace.jpg" style="width:100%">
            <img src="~/Content/photos/plane.jpg" style="width:100%">
            <img src="~/Content/photos/Rome.jpg" style="width:100%">
            <img src="~/Content/photos/sea.jpg" style="width:100%">
            <img src="~/Content/photos/santorini.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/Content/photos/Cappadocia.jpg" style="width:100%" hidden>
            <img src="~/Content/photos/Cappadocia.jpg" style="width:100%">
            <img src="~/Content/photos/greece.jpg" style="width:100%">
            <img src="~/Content/photos/london.jpg" style="width:100%">
            <img src="~/Content/photos/meteora.jpg" style="width:100%">
            <img src="~/Content/photos/jungle.jpg" style="width:100%">
            <img src="~/Content/photos/traveling.jpg" style="width:100%">
            <img src="~/Content/photos/passengers.jpg" style="width:100%">
            <img src="~/Content/photos/paris.jpg" style="width:100%">
        </div>
    </div>
    <br />
</div>
<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-hover-text-black w3-wide">CONTACT</span>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64 " id="contact">

    <h3 class="w3-center">WHERE WE WORK</h3>
    <p class="w3-center"><em>We'd love your feedback!</em></p>
    <br />
    <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-center w3-margin-bottom">
            <address>
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i> Πειραιάς, Ελλάδα<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i> Phone: 2104142000<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>
                <strong>Support:</strong>   <a href="mailto:MyTravel@mail.com">MyTravel@mail.com</a><br />
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-left"></i>
                <strong>Marketing:</strong> <a href="mailto:travelorganizer@mytravel.com">travelorganizer@mytravel.com</a><br>
            </address>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.5255210653204!2d23.65067405072437!3d37.941513679629885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bbe5bb8515a1%3A0x3e0dce8e58812705!2zzqDOsc69zrXPgM65z4PPhM6uzrzOuc6_IM6gzrXOuc-BzrHOuc-Oz4I!5e0!3m2!1sel!2sgr!4v1626069083469!5m2!1sel!2sgr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10" style="left:60px">
        <blockquote>
            <p style="text-align: center;"><i>"Every Perfect Traveller always creates the country where he travels"</i></p>
            <footer>Nikos Kazantzakis</footer>
        </blockquote>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>




